

h1{	font-family:Helvetica,Arial;
	font-size:12px;
	font-weight:300;
	margin-top:5px; 
	margin-bottom:5px;}
	
h2{	font-family:Helvetica,Arial;
	font-size:30px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:800;
}
h3{font-family:Helvetica,Arial;
	font-size:25px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:800;}
	
h4{	font-family:Helvetica,Arial;
	font-size:15px;
	line-height:20px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:200;
	white-space:normal; 
	width:100%; 
	overflow:hidden;
	text-overflow:ellipsis;}
h5{
	font-family:Helvetica,Arial;
	font-size:12px;
	font-weight:300;
	margin-top:8px; 
	margin-bottom:0px;
	
}
h6{	font-family:Helvetica,Arial;
	font-size:12px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:200;
	white-space:normal; 
	width:100%; 
	overflow:hidden;
	text-overflow:ellipsis; }

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px dashed green;
}

p{
	font-family:helvetica,arial;
	font-size:16px;
	font-weight:600;
}

table { 
	width:100%;
	border-collapse:collapse;
	border:0;
	
}

tr{
	width:100%;
}

td{
	font-family:helvetica,arial;
	font-size:18px;
	font-weight:100;
	max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th{
	font-family:helvetica,arial;
	font-size:13px;
	font-weight:600;
	text-align:left;
	padding-top:10px;
	padding-bottom:5px;
}

tr.ungerade{
     background-color: #f8ca53;
     line-height:24px;
}

tr.dateungerade{
	background-color: #e67242;
	line-height:24px;
}


li{
	list-style-type:none;
	display:block;
    float:right;
	margin-left:8em;
    }


body{
	width:100%;
	height:auto;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
}

header{
	width: 100%;
	height:100px;
	padding-top: 0px;
	padding-left: 5px;
	margin-bottom:0px;
	background-color:#101010;	
}


div.menu{
		clear:right;
		float:right;
		size:500px;
		height:30px;
		margin-top:15px;
		text-align: right;
		font-family: helvetica,arial;
		font-size:16px;
		color:#ffffff;
		padding-right:0px;
		word-spacing:4em;
		font-weight:800;
		line-height:30px;
				margin-right:25px;

}

div.login{
	float:right;
	margin-right:25px;
	height:35px;
	width:150px;
	margin-top:10px;
	background-color: white;
}

div.logintext{
	float:left;
	width:105px;
	font-family:helvetica,arial;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
	border-right: 1px solid black;
	
}

div.loginuser{
	float:right:
	width:35px;
	text-align: center;
	padding-top:3px;
	
}

div.menupunkt {

		float: right;
		padding: 0px 60px 0px 60px;
		border-right: 1px solid white;
}

div.logo{
	float:left;
	padding-top:10px;
	width:400px;
	height:80px;	
}


div.folgen{
	position:relative;
	float:left;
	width:59%;
	padding-left:20px;
	margin-top:25px;
	margin-bottom:20px;
}

div.news{
	clear:left;
	width:100%;
	padding-left:20px;
	margin-top:25px;
}

div.lexikon{
	clear:both;
	width:100%;
	height: 300px;
	padding-left:20px;
	margin-top:25px;
}

div.tvguide{
	float:right;
	width:39%;
	height:200px;
	padding-right:25px;
	margin-top:25px;
}

div.rangliste{
	clear:right;
	float:right;
	width:39%;
	height:450px;
	padding-right:25px;
	margin-top:0px;
}

div.werbung{
	clear:both;
	float:right;
	width:39%;
	height:270px;
	padding-right:25px;
	margin-top:35px;
}

/* --FOLGEN----------------- */

p.folgen{
	font-size:15px;
	font-weight:600;
	margin-top:0px;
}

div.folgenline{
	margin-top:7px;
	float:right;
	width:82%;
	height:3px;
	background-color: black;
}


div.featuredfolge{
	position: relative;
	float:left;
	width:100%;
}

div.folgeimg{
	width:100%;
}


div.folgetext{
	float:left;
	width:70%;
}

div.folgeimgkasten{
	position: absolute;
	overflow:hidden;
	width:100%;
	height:100px;
	bottom:0;
    margin: 0;
    padding-left:10px;
    background-color: rgba( 255, 255, 255, 0.7 );
}

div.bewertungbox{
	float:right;
	width:28%;
}

div.bewertungtext{
	float:left;
	font-family:helvetica, arial;
	font-size:12px;
	margin-top:50px;
	font-weight:800;
	padding-left:60px;
	
}

div.bewertunggreen{
	float:left;
	width:60%;
	height:5px;
	margin-top:10px;
	margin-left:30px;
	background-color:green;
}

div.bewertungred{
	float:left;
	width:10%;
	height:5px;
	margin-top:10px;
	background-color:red;
}

div.folgesmall{
	float:left;
	width:100%;
	height:20%;
	margin-top:25px;
	
}

div.folgesmallimg{
	float:left;
	overflow:hidden;
	width:40%;
	height:100%;
}

div.folgesmalltext{
	float:right;
	width:60%;
	height:100%;
	padding-left:20px;
	padding-top:5px;
}

div.folgeonlytextbalken{
	width:100%;
	margin-right:0px;
	float:right;
	height:4px;
	background-color: #f4c343;
}

/* --TVGUIDE----------------- */

p.tv-guide{
	font-size:15px;
	font-weight:600;
	margin-top:0px;
	padding-top:0px;
}

div.tvguideline{
	margin-top:7px;
	float:right;
	width:80%;
	height:3px;
	background-color: black;
}


div.guide{
	float:right;
	width:100%;
	height:75%;
	
}

div.neu{
	float:left;
	width:20%;
	height:50%;
	text-transform:uppercase;
	font-size:15px;
	background-color:#009999;
	font-family: helvetica,arial;
	padding-top:20px;
	text-align: center;
}

div.wiederholung{
	clear:left;
	float:left;
	width:20%;
	height:50%;
	text-transform:uppercase;
	font-size:15px;
	background-color:#cc6633;
	font-family: helvetica,arial;
	padding-top:20px;
	text-align: center;
}

div.guidetext{
	float:right;
	width:80%;
	height:100%;
	background-color: #cc6633;
	padding-top:10px;
	padding-left:20px;
	font-family:Helvetica,Arial;
	font-size:14px;
	margin-top:0px;
	margin-bottom:5px;
	font-weight:400;
	padding-right:20px;
}

div.tvguideonlytextbalken{
	width:80%;
	margin-right:0px;
	float:right;
	height:4px;
	background-color: #e67242;
}

div.neuefolgeonlytextbalken{
	width:20%;
	margin-right:0px;
	float:left;
	height:4px;
	background-color: #009999;
}

/* --RANGLISTE----------------- */

p.rangliste{
	font-size:15px;
	font-weight:600;
	margin-top:0px;
	padding-top:0px;
}

div.ranglisteline{
	margin-top:7px;
	float:right;
	width:80%;
	height:3px;
	background-color: black;
}


div.ranglisteblock{
	float:right;
	width:100%;
	height:98%;
	background-color:#ffcc33;
	padding-left:20px;
	padding-top:20px;
	padding-right:20px;
}

div.ranglistemoar{
	clear:right;
	float:right;
	padding-top:0;
	width:100%;
	height:13%;
	background-color:#ff9900;
	text-align: center;
	font-size:50px;
	letter-spacing:-20px;
	color: white;
}

div.ranglisteonlytextbalken{
	width:100%;
	margin-right:0px;
	float:right;
	height:4px;
	background-color: #ff9900;
}



/*--WERBUNG------------------*/

div.ad{
	width:100%;
	height:270px;
	background-color:black;
	overflow:hidden;
}

/*--NEWS---------------------*/

p.news{
	font-size:15px;
	font-weight:600;
	margin-top:0px;
	padding-top:0px;
	width:20px;
}

div.newsline{
	margin-top:7px;
	margin-right:25px;
	float:right;
	width:52%;
	height:3px;
	background-color: black;
}

div.featurednews{
	width:58%;
	height:42%;
}

div.featuredimg{
	overflow:hidden;
	float:left;
	width:40%;
	height:100%;
}

div.featuredtext{
	float:right;
	width:60%;
	height:100%;
	padding-left:20px;
}

div.newsmoar{
	float:left;
	width:100%;
	height:40%;
	padding-right:20px;
	padding-top:25px;
}

div.newssmall{
	overflow:hidden;
	float:left;
	width:23.4%;
	height:50%;	
}

div.newstext{
	float:left;
	width:23.4%;
	height:50%;		
}

div.newsonlytextbalken{
	width:100%;
	margin-right:0px;
	float:right;
	height:4px;
	background-color: #1781b3;
}

* --LEXIKON----------------- */

p.lexikon{

	width:20%;
	float:left;
	font-size:15px;
	font-weight:600;
	margin-top:0px;
	padding-top:0px;
}

div.lexikonline{
	margin-top:7px;
	margin-right:25px;
	float:right;
	width:90%;
	height:3px;
	background-color: black;
}

div.lexikoncontent{
	position:absolute;
	width:98.4%;
	height:40%;
}

div.featuredlexikon{
	
	overflow:hidden;
	float:left;
	width:23%;
	height:99%;
}

div.lexikonimgkasten{
	position: absolute;
	overflow:hidden;
	width:23%;
	height:130px;
	bottom:0;
    margin: 0;
    padding-left:10px;
    background-color: rgba( 255, 255, 255, 0.7 );
}

div.lexikonimg{
	float:left;
	overflow:hidden;
	width:23%;
	height:45%;
}

div.lexikonimgkasten2{
	position: absolute;
	overflow:hidden;
	width:23%;
	height:80px;
	bottom:0;
    margin: 0;
    padding-left:10px;
    background-color: rgba( 255, 255, 255, 0.7 );
}

div.lexikonimgkasten3{
	position: absolute;
	overflow:hidden;
	width:23%;
	height:80px;
	bottom:140px;
    margin: 0;
    padding-left:10px;
    background-color: rgba( 255, 255, 255, 0.7 );
}

div.lexikononlytext{
	float:left;
	width:23%;
	height:45%;
}

div.lexikononlytextbalken{
	width:100%;
	margin-right:0px;
	float:right;
	height:4px;
	background-color: #9444a7;
}
