/* === Stildefinitionen für feste Topnaviagtion === */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

/* --- Layout Container */

nav {
  position: fixed;
  top: 5em;
  left: 0em;
  width: 10em;
  padding: 0.5em;
  background-color: #ddf;
}

nav ul {
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0.2em 0em;
  background-color: white;
}
nav li a {
  display: block;
}

article {
  margin: 0;
  padding: 2em 2em 3em 12em;
  background-color: #ffd;
}

/* --- spezielle Elemente */

h1 {
  color: #660;
  font-size: 2em;
}
