#Navi {
	position: relative;
	width: 30%;
	height: 2em;
	margin: auto;
	}
	
#Switcher_left {
	width: 40%;
	float: left;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	}
	
#Switcher_right {
	width: 40%;
	float: right;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	}
	
h1 {
	font-family: 'Ultra', serif;
	font-weight: 400;
	font-size: 2em;
	}

#Kategorie {
	font-variant: small-caps;
}