#Navi {
	position: relative;
	width: 30%;
	height: 2em;
	margin: auto;
	}
	
#Switcher_left {
	width: 40%;
	float: left;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	}
	
#Switcher_right {
	width: 40%;
	float: right;
	-webkit-box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	box-shadow: 2px 2px 10px 0 rgba(30,30,30,50);
	}
	
div {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	}

body {
	font-family: 'Libre Baskerville', serif;

	
}
#Container {
	position:relative;
	top: 20px;
	margin: auto;
	padding: 10px;
	width: 80%;
	outline: 2px dotted #4F4F4F;
	}


#Kategorie {
	font-style: italic;
	}
	
#lauftext {
	font-weight: 400;
	font-size: 0.8em;
	}
	
#Infos {
	width: 50%;
	position: relative;
	margin: auto;
	text-align: center;		
	}