/* CSS Document */


body, td, th {
	
	background: #FFFFFF;
	font-family:sans-serif;
	font-style: normal;
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;

}

body {
	margin-left: auto;
	margin-right: auto;
}

a {
	colo:blue;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ffffff;
}

a:active {
	color: #a7a7a7;
}



/* Header --------------------------------- */

header {
padding-left:10%;
padding-top: 50px;


}

#grauerkasten {
	margin-right: 500px;
	width: 924px;
	height: 100px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 3px 7px -3px black;
	background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	
}

#logo {

	float: left;
	border: 0px;
	display:block;
}


/* Navigation --------------------------------- */


#navigation	{

	padding-bottom: 0px;
	padding-top: 23px;
	

}





.unterliste	{

	display: none;
	color: #0f3f87;
}

nav ul	{
	padding: 0;


}


/* Hauptmenue-Themen ------------- */

li {
	list-style-type: none;
	
}

nav>ul>li	{
	display: inline-block;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


	float:left;
	background-color: #3e3e3e;
	position: relative;
	
}



nav li:hover .unterliste	{
	display: block;
	color: grey;
	position: absolute;
	left: 0px;
	background-color: rgba(95,95,95,255);

	z-index: 1;
}

nav li:hover	{
	color: #4173bd;
}

nav a,
nav a:visited {

	text-decoration:none;
	padding: 8px;
	padding-left: 10px;
	display: inline-block;
	color: #ffffff;
	
}


/* Main --------------------------------- */



/* Footer --------------------------------- */


