* {
  box-sizing: border-box;
}

img {
  width: 80%;
  min-width: 60px;
	margin: 1em;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	box-shadow: 0px 10px 22px #c04848
}

.fliesstext {
	margin: 1em;
	font-family: Times, serif;
	font-size: medium;
}

#start {
	font-size: 36px;
	color: #2a2ab7;
}

strong {
  font-weight: normal;
  font-style: italic;
}

p {
  padding: 10px;
  background-color: #ddd;
  border-right: 2px solid red;
}