/* CSS Document */


body, td, th {
	
	background: #FFFFFF;
	font-family:sans-serif;
	font-style: normal;
	font: Arial, Helvetica, sans-serif;
	font-weight: bold;

}

body {
	margin-left: auto;
	margin-right: auto;
}

a {
	colo:blue;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ffffff;
}

a:active {
	color: #a7a7a7;
}



/* Header --------------------------------- */

header {

}

#logo {
	width: 275px;
	padding-left: 20%;
	padding-top: 0;
	float: left;
	border: 0px;
	display:block;
	
}


#schwarzerkasten {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 100px;
	padding: 20px;


	
	background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	
	}



/* Sidebar ------------------------------- */

aside {
	color:black;
	width: 22%;
	float: right;
	left: 0px;
	padding-right: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 100px;
	
}


/* Navigation --------------------------------- */


#navigation	{

	padding-bottom: 0px;
	padding-top: 70px;
	display:block;
	padding-left: 30%;
	padding-right: auto;

}





.unterliste	{

	display: none;
}

nav ul	{
	padding: 0;


}


/* Hauptmenue-Themen ------------- */

li {
	list-style-type: none;
	
}

nav>ul>li	{
	display: inline-block;
	
	float:left;
	position: relative;
	
}



nav li:hover .unterliste	{
	display: block;
	color: grey;
	position: absolute;
	left: 0px;
	
	background: black;
	
	min-width: 150px;

	z-index: 1;
}




nav li:hover	{
	color: #4173bd;
}

nav a,
nav a:visited {
	font: 13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding: 8px;
	padding-left: 10px;
	display: inline-block;
	color: #ffffff;
}


/* Main --------------------------------- */



/* Footer --------------------------------- */


