div {
      	
      	margin: center;
        padding: 5px;
        border: 1px solid black;
        width:45%;
        
        
}

.hight{
	height: 30%;
	font-family:  Arial, sans-serif;
font-size: 14px;
}

#eins{
	padding: 25px;
	
	
}
