/* === Stildefinitionen für feste Topnaviagtion === */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: avenir next condensed;
  font-size: 18px;
}

/* --- Layout Container */

article {
  margin: auto;
  padding: 2em;
  background-color: none;
}

img{width: 100px;

	
}
nav {
	margin:auto;
  padding:0.5em;
  font-family: avenir next condensed;
  background-color: #ADADD6;
  font-size: 18px;
  color:white;
  left: 400px;
}
nav div.dropdown {
	float: right;
	width: 100px;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  background-color: none;
  text-align: center;
}
nav div.dropdown ul.submenu {
  position: absolute;
  top: 2em;
  left: 1em;
  display: none;
  padding: 0.5em;
  background-color: #ADADD6;
  list-style: none;
  font-size: 12px;
}

nav div.snap {
float: right;
	width: 100px;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  background-color: black;
  text-align: center;
  margin-top: 0px;
}


nav div.dropdown:hover ul.submenu {
  display: block;
}
nav div.dropdown a {
  white-space: nowrap;
}

//-----section------//


.content{}
	.side{
		width:150px;
		height:600px;
		background-color: #ADADD6;
		color: white;
		text-decoration: none;
		margin: 0;
	}
	
	.list{
	padding:1.5em;
	font-size: 16px;

	}
	
    .one {
	
	width: 30%;
	height:600px;
	border: none;
	padding: 0;
	float: left;


      }
      
	 .snap1{
		  width: 300px;
	  }
	  
	 .snap2{
		  width: 300px;
	  }	  
      
     .two {
		 width: 20%;
		 height:600px;
		 border: none;
		 padding:0;
		float: left;

      }
      
      .firstshow{
	      
	      width: 30%;
      }
      
      .snap2{
		  width: 200px;

	  }


      .three{
      
      	float: left;
        width: 20%;
		height:600px;
		border: none;
		padding: 0;
		margin: 20px;
      }
      
      .snap3{
      
      float: left;
      width: 200px;
      margin-left: 20px;
	      
      }
      
      .four{
      
      	float: right;
        width: 250px;
		height:600px;
		border: none;
		padding: 0;

      }


     
     .snap5{
		 clear: left;
	     width: 600px;
     }
	
footer {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 92%;
  height: 2em;
  padding: 1em;
  background-color: #BFBFD6;
  list-style: none;
  display: inline;
  color: white;
}

.footer{
	
	list-style: none;
	display: inline;
	color; white;
}

/* --- spezielle Elemente */

h1 {
  color: #660;
  font-size: 2em;
}