@charset "UTF-8";

.wrapper{
	
	max-width: 600px;
	font-family: "Helvetica",light;
	font-size: 12px;
	margin:auto;
	min-width: 500px;
}

.header {
	padding-left: 5px;
	padding-bottom: 10px;

}

h1{
	font-style: normal;
	font-size: 1.5em;
	margin: 0;

}
	
.headlines {
	font-size:1.2em;
	font-weight: bold;
}

.nav {
	height: 15px;
	width: 98%;
	float: left;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 5px;

}


figure{
	margin: 0;
	padding-left: 5px;
}

figcaption{
	color: black;
	padding-bottom: 20px;
	
}

.headlines {
	padding-left: 5px;
	padding-bottom: 10px;

}

.content div.floatleft{
	float: left;
	width: 45%;
	padding-left: 5px;
	
}

.content div.floatright{
	float: right;
	width: 45%;
	padding-left: 5px;
	
}

.title {
	font-weight: bold;
	font-size:1.2em;


}

.text



.footer{
	text-align: center;
	clear: both;

	
}