@charset "UTF-8";
/* _nav.scss */

$main-nav-height: 180px;
$main-nav-height-small: 45px;

$main-nav: '.main-nav';
#{$main-nav} {
    $m: $main-nav;
    @include span-columns(7);

    float:left;
    color:$text-color-inverted;
    @include x-rem(font-size, 0.875);
    font-weight: bold;


    &__toggle {
        display:none;
        position:absolute;
        right:0px;
        top:0;
        padding:0 20px;
        @include x-rem(font-size, 1.5);
        line-height:$main-nav-height-small;
        float:right;
        cursor: pointer;
    }
    #main-nav__toggle-checkbox {
        display:none;
        &:checked + ul {
            max-height:480px;
        }
    }
    ul {
        float:left;
        display:block;
        list-style: none;
        margin: 0;
        @include transition(max-height 0.2s linear);
        max-height:$main-nav-height;
        @include media($mobile-l) {
            max-height:$main-nav-height-small;
        }
        overflow:hidden;
        @include media($desktop) {
            padding:0;
        }
    }
    li {
        a {
            color: $text-color-inverted;
        }
        float: left;
        margin:0;
        line-height:$main-nav-height;
        @include media($mobile-l) {
            line-height:$main-nav-height-small;
        }
        &:after {
            content: '|';
            font-weight: 300;
            padding: 0 10px;
            @include media($desktop) {
                padding: 0 5px;
            }
        }
        &:last-child:after {
            content: none;
        }
    }
    //     &[max-width="400px"] {
    @include media($mobile-l) {
        @include span-columns(12);
        #{$m}__toggle {
            display:block;
        }
        ul {
            max-height:0px;
            padding: $main-nav-height-small 10px 0 10px;
        }
    }
}

.switcher {
    @include outer-container;
    padding: 0 15px;
    margin-bottom: 10px;

    display:none;
    @include media($mobile-l) {
        display: block;
    }
    &--button {
        text-align: center;
        font-weight: bold;
        color: $grey-dark;
        line-height: 4;
        background: $grey-lighter;
        border-radius: 2px;
    }
}