@charset "UTF-8";
@import "_reset";

@import "bourbon";
@import "_vars";
@import "_mixins";
@import "_grid-settings";
@import "_typo";
@import "_nav";

/* main.scss */

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100%;
}

img {
    display: block;
    width:100%;
}

@mixin constr-container {
    @include outer-container;
    padding: 0 15px;
    @include media($full-only) {
        width:$w-desktop;
    }
    @include media($desktop-only) {
        width:$w-tablet;
    }
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid $grey;
}
.logo {
    &--header {
        @include span-columns(5);
        background: url('../media/tatort_fundus_logo_white.svg') no-repeat center left;
        background-size:250px;
        height:$main-nav-height;
        float:left;
        @include media($mobile-l) {
            @include span-columns(10);
            position:absolute;
            left:0;
            height:$main-nav-height-small;
        }
    }
}

$layout: '.layout';
#{$layout} {
    &__header {
        @include constr-container;

        &-container {
            @include media($full) {
                padding: 0 10px;
            }
            @include transition (background 2.0s ease-in-out);
            background: $blue url('../media/header_schimanski_ultra.jpg') no-repeat center center; //$grey-lighter;
            margin-bottom: 15px;
        }
        &-container.background-kurtulus {
            background-image: url('../media/header_kurtulus_ultra.jpg');
            @include media($desktop) {
                background-position: 70% center;
            }
        }
        &-container.background-bienzle {
            background-image: url('../media/header_bienzle_ultra.jpg');
        }
    }
    &__main {
        @include span-columns(8);
        @include media($mobile-s) {
            @include span-columns(12);
        }
        @include media($mobile-m-l-only) {
            @include span-columns(6);
        }
        @include media($tablet-only) {
            @include span-columns(8);
        }
    }
    &__col-half {
        @include span-columns (4 of 8);
        @include media($mobile-l) {
            @include span-columns (8 of 8);
        }
    }
    &__sidebar {
        @include span-columns(4);
        @include media($mobile-s) {
            @include span-columns(12);
        }
        @include media($mobile-m-l-only) {
            @include span-columns(6);
        }
        @include media($tablet-only) {
            @include span-columns(4);
        }
    }
    &__wrapper{
        @include constr-container;
    }
    &__wrapper--detail{
        @include constr-container;
        &  #{$layout}__main {
            @include span-columns(9);
            @include media($mobile-s) {
                @include span-columns(12);
            }
            @include media($mobile-m-only) {
                @include span-columns(12);
            }
            @include media($mobile-l-only) {
                @include span-columns(8);
            }
            @include media($tablet-desktop-only) {
                @include span-columns(8);
            }
        }
        #{$layout}__sidebar {
            @include span-columns(3);
            @include media($mobile-s) {
                @include span-columns(12);
            }
            @include media($mobile-m-only) {
                @include span-columns(12);
            }
            @include media($mobile-l-only) {
                @include span-columns(4);
            }
            @include media($tablet-desktop-only) {
                @include span-columns(4);
            }
        }
    }
    &__footer {
        background: $blue;
        overflow: hidden;
        padding:30px 0;
    }
}

$foot-nav: '.foot-nav';
#{$foot-nav} {
    @include constr-container;
    &, a {
        color: $text-color-inverted;
    }
    h1,h2,h3,h4,h5,h6  {
        font-weight: bold;
        color: $text-color-inverted;
        margin-bottom: 0.5em;
    }
    ul {
        list-style: none;
        padding:0;
        margin:10px 0;
        @include media($mobile-m) {
            max-width: 350px;
        }
        li {
            line-height: 1.7;
            &:before {
                padding-right:8px;
                content: "\00BB ";
            }
        }
    }
    &__col-third {
        @include span-columns (4);
        @include media($mobile-l) {
            @include span-columns (12);
            padding-bottom:15px;
            margin-bottom:15px;
            border-bottom:1px solid lighten($blue,30%);
            &:last-child {
                border-bottom:none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            li {
                float:left;
                padding-right:15px;
            }
        }
    }
}

.blockbox {
    overflow:hidden;
    &__title {
        margin: 0 0 3px 0;
        padding: 0;
        @include x-rem(font-size, 1.125);
        font-weight: bold;
        color: $grey-darker;
    }
    &__content {
        background: $grey-lighter;
        &--indented {
            margin:5px 10px;
            overflow:hidden;
        }
        margin-bottom:20px;
    }
}

$newsarticle-box: '.newsarticle-box';
#{$newsarticle-box} {
    $n: $newsarticle-box;
    position: relative;
    padding-bottom:10px;
    &__header {
        position:relative;
    }
    &__title {
        &--main {
            @include x-rem(font-size, 1.5);
            line-height:1.3;
            font-weight: bold;
            margin:8px 10px 6px;
            padding:0;
            a {
                color: $blue;
                font-weight: bold;
            }
        }
    }
    &__imgcontainer {
        position: relative;
        overflow: hidden;
        max-height:210px;
    }
    p {
        margin:0 10px;
    }
    &[max-width~="440px"] {
        #{$n} {
            &__title {
                &--main {
                    @include x-rem(font-size, 1.3);
                }
            }
            &__imgcontainer {
                max-height:180px;
            }
        }
    }
    &[max-width~="300px"] {
        #{$n}{
            &__title {
                &--main {
                    @include x-rem(font-size, 1.2);
                }
            }
            &__imgcontainer {
                max-height:140px;
            }
        }
    }
    &[max-width~="240px"] {
        @include x-rem(font-size, 0.875);
        #{$n}{
            &__title {
                &--main {
                    @include x-rem(font-size, 1.125);
                }
            }
        }
    }
}
$newsarticle: '.newsarticle';
#{$newsarticle} {
    $n: $newsarticle;
    position: relative;
    padding-bottom:10px;
    &__header {
        position:relative;
    }
    &__title {
        &--main {
            @include x-rem(font-size, 1.5);
            line-height:1.3;
            font-weight: bold;
            margin:6px 0 8px;
            padding:0;
            &, a {
                color: $blue;
                font-weight: bold;
            }
        }
        &--top {
            @include x-rem(font-size, 1.2);
            line-height:1;
            padding:10px 0 0 0;
            margin:0;
        }
    }

    &__content[min-width~="550px"] {
        font-size: 1.125rem;
        width:100%;
        max-width:650px;
        margin:0 auto;
    }
    h4 {
        margin: 30px 0 20px;
        padding:0px;
        @include x-rem(font-size, 1.1);
        color:$blue;
        font-weight: bold;
    }
    p {
        margin:10px 0 15px;
    }
    address.author {
        display:block;
        padding: 15px 15px 0 0;
        text-align: right;
        font-style: italic;
        font-weight: bold;
    }
    &__leading-p {
        color:$grey-dark;
        font-weight: bold;
        font-style: italic;
    }
    &[max-width~="440px"] {
        #{$n} {
            &__title {
                &--main {
                    @include x-rem(font-size, 1.3);
                }
            }
        }
    }
    &[max-width~="300px"] {
        #{$n}{
            &__title {
                &--main {
                    @include x-rem(font-size, 1.2);
                }
            }
        }
    }
    &[max-width~="240px"] {
        @include x-rem(font-size, 0.875);
        #{$n}{
            &__title {
                &--main {
                    @include x-rem(font-size, 1.125);
                }
            }
        }
    }
}

$title-resp: '.title-resp';
#{$title-resp} {
    $t: $title-resp;

    @include x-rem(font-size, 1.2);
    line-height:1;
    padding:10px 0;

    &--boxed {
        display:block;
        margin:0;
        width:100%;
        padding:10px;
        background:$blue;
        color: $text-color-inverted;
        &[max-width~="500px"] {
            @include x-rem(font-size, 1.125);
            padding: 6px 10px 8px;
        }
        &[max-width~="300px"] {
            @include x-rem(font-size, 1.025);
            padding: 4px 10px 6px;
        }
    }
}

$datatable: '.datatable';
#{$datatable} {
    $d: $datatable;
    display:block;
    width:100%;
    max-width:100%;
    overflow:hidden;
    border-spacing: 0 3px;
    line-height:1.3;
    padding: 0px;
    border-collapse: separate;
    margin-bottom: 5px;
    a {
        color: $blue;
    }
    th, td {
        padding-right:10px;
        white-space: nowrap;
    }
    th {
        font-weight: 400;
    }
    &__col {
        &--number {
            text-align: right;
        }
        &--number-left,
        &--text-narrow {
            text-align: left;
        }
        &--text-wide {
            width:100%;
            text-align: left;
        }
    }

    &[max-width~="400px"] {
        #{$d}__hide {
            &--first {
                display:none;
            }
        }
    }
    &[max-width~="300px"] {
        td {
            @include x-rem(font-size, 0.875);
        }
        #{$d}__hide {
            &--first {
                display:none;
            }
            &--second {
                display:none;
            }
        }
    }
}

$breadcrumbs: '.breadcrumbs';
#{$breadcrumbs} {
    line-height: 1.6875; // 16 * 1.6875 = 27 <-> 16 * 1.125 * 1.6 = 27 -- alignment with detail sidebar
    margin-bottom: 3px;
    a:first-child {
        font-weight: bold;
        color:$blue;
    }
    a:nth-child(2) {
        font-weight: bold;
        color:$grey-darker;
    }
}

.hide {
    &--mobile-s { @include media($mobile-s) { display:none; } }
    &--mobile-m { @include media($mobile-m) { display:none; } }
    &--mobile-l { @include media($mobile-l) { display:none; } }
    &--tablet { @include media($tablet) { display:none; } }
    &--desktop { @include media($desktop) { display:none; } }
    &--full { @include media($full) { display:none; } }
}
