@charset "UTF-8";
@import "_reset";

@import "bourbon";
@import "_vars";
@import "_mixins";
@import "_grid-settings";
@import "_typo";

/* main.scss */

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

img {
    display: block;
    width:100%;
}

@mixin constr-container {
    @include outer-container;
    padding: 0 15px;
    @include media($full-only) {
        width:$w-desktop;
    }
    @include media($desktop-only) {
        width:$w-tablet;
    }
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid $grey;
}

.layout {
    &__header {
        @include media($full) {
            padding: 0 10px;
        }
        height: 60px;
        background: $blue; //$grey-lighter;
        background-size: cover;
        background-position: center center;
        margin-bottom: 15px;
    }
    &__wrapper{
        @include constr-container;
    }
    &__main {
        @include span-columns(8);
        @include media($mobile-m) {
            @include span-columns(12);
        }
        @include media($mobile-l-only) {
            @include span-columns(6);
        }
        @include media($tablet-only) {
            @include span-columns(7);
        }
    }
    &__sidebar {
        @include span-columns(4);
        @include media($mobile-m) {
            @include span-columns(12);
        }
        @include media($mobile-l-only) {
            @include span-columns(6);
        }
        @include media($tablet-only) {
            @include span-columns(5);
        }
    }
    &__footer {
        @include constr-container;
    }
}

.blockbox {
    overflow:hidden;
    &__title {
        margin: 0 0 3px 0;
        padding: 0;
        font-size: 1.15rem;
        font-weight: bold;
        color: $grey-darker;
    }
    &__content {
        background: $grey-lighter;
        &--indented {
            padding:5px 10px;
        }
        margin-bottom:20px;
    }
}

$newsarticle: '.newsarticle';
#{$newsarticle} {
    $n: $newsarticle;
    position: relative;
    padding-bottom:10px;
    &__header {
        position:relative;
    }
    &__title {
        &--main {
            line-height:1.2;
            margin:10px;
            padding:0;
            a {
                color: $blue;
            }
        }
    }
    &__imgcontainer {
        position: relative;
        overflow: hidden;
    }
    p {
        margin:0 13px;
    }
}

$title-resp: '.title-resp';
#{$title-resp} {
    $t: $title-resp;

    @include x-rem(font-size, 1.5);
    line-height:1.4;

    &--boxed {
        display:block;
        margin:0;
        width:100%;
        padding:10px;
        background:$blue;
        color: $text-color-inverted;
    }

    &[max-width^="400px"] {
        @include x-rem(font-size, 1);
        padding: 3px 10px 4px;
    }
    &[max-width^="800px"] {
        @include x-rem(font-size, 1.25);
        padding: 6px 10px 8px;
    }
}

.switcher {
    @include outer-container;
    padding: 0 15px;
    margin-bottom: 10px;

    display:none;
    @include media($mobile-l) {
        display: block;
    }
    &--button {
        text-align: center;
        font-weight: bold;
        color: $grey-dark;
        line-height: 4;
        background: $grey-lighter;
        border-radius: 2px;
    }
}

.datatable {
    width:100%;
    border-spacing: 0 3px;
    padding: 0px;
    border-collapse: separate;
    margin-bottom: 5px;
    th {
        padding-right:10px;
        font-weight: 400;
    }
    td {
        padding-right:10px;
        white-space: nowrap;
    }
    &__col {
        &--number {
            text-align: right;
        }
        &--number-left,
        &--text-narrow {
            text-align: left;
        }
        &--text-wide {
            width:100%;
            text-align: left;
        }
    }
}

.hide {
    &--mobile-s { @include media($mobile-s) { display:none; } }
    &--mobile-m { @include media($mobile-m) { display:none; } }
    &--mobile-l { @include media($mobile-l) { display:none; } }
    &--tablet { @include media($tablet) { display:none; } }
    &--desktop { @include media($desktop) { display:none; } }
    &--full { @include media($full) { display:none; } }
}

.main-nav {
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        display: inline-block;
    }
}