@charset "UTF-8";

article, aside, footer, header, main, nav, section{
	display: block;
}



html, body, h1, h2, h3, h4, h5, ul, li, a, p, article, aside, footer, header, main, nav, section
{padding: 0;margin: 0;}

/* Körper */

body {
	width: 1240px;
	font-family: Helvetica;
	font-style: light;
	position: absolute;
}

nav {
	width: 142px;
	margin-top: -10px;
	line-height: 2;
	float: left;
}

.rahmen_nav
{
	height: 905px;
	padding-top: 20px;
	background-color: #000000;
}


.rahmen_nav a { 
	color:white;
}


a {
	margin-left: 30px;
	color: black;
	text-decoration: none;
}

.unterkat{
	font-size: 11px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
}

.banner {
	
	width: 1237px;
	height: 140px;	
}

.suchen {
	position: absolute;
	top: 100px;
	left: 1050px;
	color: white;
}

/* Titel */
h5 {
	margin-top: 5px;
	margin-bottom: 2px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 2px;
}

h2 {
	color: rgba(178,178,178,1);
}

.titel_aktuell {
	position: absolute;
	margin-left: 170px;
	margin-top: 20px;
}


p {
	margin-top: 5px;
}

/* Start Seite */

.rahmen_aktuell
{
	position: absolute;
	margin-left: 142px;
	margin-top: 30px;
	float: left;
	width: 880px;
	height: 270px;
	padding-top: 40px;
	font-size: 12px;
	border: 0px solid #000000;
	overflow-x: scroll;
	white-space: nowrap;

}

.aktuell {
	
	display: inline-block;
	width: 230px;
	margin-left: 30px;
	height: 270px;
	vertical-align:top;
	white-space: normal;
	
}

.aktuell img {
	width: 100%;
	}
	

.rahmen_beliebt {
	position: absolute;
	margin-left: 172px;
	margin-top: 380px;
	float: left;
	width: 800px;
	height: 485px;
	overflow-x: scroll;
	border: 0px solid #000000;
}

.titel_beliebt {
	position: absolute;
	margin-left: 170px;
	margin-top: 350px;
}

.untertitel_aktuell {
	
	font-size: 11.5px;
	margin-left: 170px;
	margin-top: 10px;
	
}

.beliebt_bild {
	float: left;
	height: 150px;
	width: 320px;
	margin-left: 30px;

	margin-top: 20px;
	margin-right: 30px;
}

.beliebt img {
	float: left;
	width: 230px;
	margin-right: 30px;
}


.beliebt {
	float: left;
	font-size: 12px;
	width: 600px;
	margin-top: 30px;
	
}

.text_beliebt {
	width: 700px;
}


/* Folgen */


.titel_folgen {
	position: absolute;
	margin-left: 170px;
	margin-top: 20px;
}

.untertitel_folgen {
	float: left;
	text-decoration: underline;
	font-size: 11.5px;
	display: inline-block;
	margin-left: 30px;
	margin-top: 70px;
	
}

.rahmen_folgen {
	position: absolute;
	margin-left: 172px;
	margin-top: 100px;
	float: left;
	width: 800px;
	height: 785px;
	overflow-x: scroll;
	border: 0px solid #000000;
}

.folgen {
	float: left;
	font-size: 12px;
	width: 600px;
	margin-top: 30px;
	}
	
.folgen img {
	float: left;
	width: 230px;
	margin-right: 30px;
}

/* Ermittler */


.titel_ermittler {
	position: absolute;
	margin-left: 170px;
	margin-top: 20px;
}

.untertitel_ermittler {
	float: left;
	text-decoration: underline;
	font-size: 11.5px;
	display: inline-block;
	margin-left: 30px;
	margin-top: 70px;
	
}

.rahmen_ermittler {
	position: absolute;
	margin-left: 172px;
	margin-top: 50px;
	float: left;
	width: 800px;
	height: 785px;
	overflow-x: scroll;
	border: 0px solid #000000;
}

.ermittler {
	float: left;
	font-size: 12px;
	width: 700px;
	margin-top: 80px;
	}
	
.ermittler img {
	float: left;
	width: 230px;
	margin-right: 30px;
}



/* Shortcuts */
aside {
	background-color: grey;
	padding: 10px 10px 10px 30px;
	float: right;
	
	
	width: 130px;
	height:882px;

		
}

/* footer */

footer {
	text-align: center;
	font-size: 9px;
	color:white;
	padding:5px;
	clear:both;
	background-color: rgba(209,209,209,1);
	width: 1230px;
	height: 100px;
}








