* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	font-weight: normal;
	list-style: none;
}

html { }

body { }

.crop {
	overflow:hidden; /* this is important */
	float: left;
}

.articleimg {
	margin: -100px -450px 0 -530px;
	width: 1200px;
}