@charset "UTF-8";


html {
  font-size: 13px;
  font-family: helvetica;
  background-color: #F2F2F2;
}

#logo {
	width: 70px;
	padding-left: 7px;
	
}

p.text{
	padding-left: 5px;
	padding-top: 50px;

}

p.title {
	font-weight: bold;
}

div.newsboxtext { 
	position:absolute;
	bottom: 0;
	right: 0;
	width: 46.5%;
	background-color: rgba(255,255,255,0.9);
	padding-left:10px;
	padding-top: 0px;
	font-size: 1.1em;
}


header {
	width: 900px;
	margin: 30px auto 0;
 	box-shadow: 3px 4px 6px 2px #ccc;
}


nav {
  background-color: white;
  
}

nav div.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  background-color: white;
}

nav div.dropdown ul.submenu {
  position: absolute;
  top: 1.1em;
  left: 0;
  display: none;
  padding: 0.5em;
  background-color:white;
  list-style: none;
  z-index:100;
}

nav div.dropdown:hover ul.submenu {
  display: block;
}

nav div.dropdown a {
  white-space: nowrap;
  text-decoration: none;
}


nav div.dropdown ul.submenu a {
	color: black;
}


nav div.dropdown ul.submenu a:hover {
	color:grey;
}






.newsbox {
	position: relative;
	max-width: 900px;
	height: 300px;
	margin-top: 0px;
	margin:auto;
}

.newsboximage {
	max-width: 900px;
	height: 300px;
	
}

.content {
	max-width: 900px;
	margin:auto;
	margin-top: 30px;
}



 
.leftcontentbox {
	
	
	height: 186px;
	width: 900px;
	padding: 0px;
	margin: auto;
	margin-top: 21px;
 	box-shadow: 3px 4px 6px 2px #ccc;
 	background-color: rgba(255,255,255,0.6);
}

.leftcontentboxlarge {
	
	
	height: 350px;
	width: 900px;
	padding: 0px;
	margin: auto;
	margin-top: 21px;
 	box-shadow: 3px 4px 6px 2px #ccc;
 	background-color: rgba(255,255,255,0.6);
}

.subleftcontentbox {
	float: left;
	width: 890px;
	height: 14%;
	padding: 5px;
	margin: 0;
	background-color: white;
	font-size: 1.7em;
	border-bottom: 1px solid lightgrey;
}



.Daten{ 
  
  float: left;
  padding: 30px 30px 10px 5px;
  
}

.Daten2{ 
  
  float: left;
  padding: 30px 150px 10px 5px;
  
}


ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}





table.ranglistetabelle tr {
	text-align: left;
	height: 36px;
	background-color: #FAFAFA;
}


table.ranglistetabelle tr.ungerade {
	background-color: #EDEDED;
}


table.ranglistetabelle th {
	font-size: 1.3em;
	height: 22px;
	text-decoration: none;
	font-style: none;
	font-weight: normal;
	padding-left: 10px;
	background-color: white;
}


tr td:first-child {
	border-right: 1px solid #D6D6D6;
	padding-left: 10px;
}

tr td:last-child{
	padding-left: 10px;
}


table.ranglistetabelle {
	margin-top: 19px;
	width: 420px;
	font-size: 1.4em;
	border-collapse: collapse;
 	box-shadow: 3px 4px 6px 2px #ccc;
}

.righcontentbox {
	margin-top: 21px;
	width: 420px;
	height: 186px;
 	box-shadow: 3px 4px 6px 2px #ccc;
}

.subrightcontentbox{
	width: 410px;
	height: 14%;
	padding: 5px;
	margin: 0;
	background-color: white;
	font-size: 1.7em;

}

footer {

	margin: auto;
	height: 100px;
	max-width: 900px;
	margin-top: 26px;
 	box-shadow: 3px 4px 6px 2px #ccc;
}


.clearfix {
	clear: both;
}

