@charset "UTF-8";

@import "neat-helpers";

$mobile-s: new-breakpoint(max-width $w-mobile-s 12);
$mobile-m-only: new-breakpoint(min-width $w-mobile-s+1px max-width $w-mobile-m 12);
$mobile-l-only: new-breakpoint(min-width $w-mobile-m+1px max-width $w-mobile-l 12);
$tablet-only: new-breakpoint(min-width $w-mobile-l+1px max-width $w-tablet 12);
$desktop-only: new-breakpoint(min-width $w-tablet+1px max-width $w-desktop 12);
$full-only: new-breakpoint(min-width $w-desktop+1px max-width $w-full 12);

@import "neat";

$mobile-m: new-breakpoint(max-width $w-mobile-l 12);
$mobile-l: new-breakpoint(max-width $w-mobile-l 12);
$tablet: new-breakpoint(max-width $w-tablet 12);
$desktop: new-breakpoint(max-width $w-desktop 12);
$full: new-breakpoint(max-width $w-full 12);


$max-device-mobile: new-breakpoint(max-device-width $w-mobile-l max-width $w-mobile-l 12);

$mobile-m-l-only: new-breakpoint(min-width $w-mobile-s+1px max-width $w-mobile-l 12);
$tablet-desktop-only: new-breakpoint(min-width $w-mobile-l+1px max-width $w-desktop 12);

$tablet-and-up: new-breakpoint(min-width $w-mobile-l+1px 12);
$desktop-and-up: new-breakpoint(min-width $w-tablet+1px 12);

$full-plus: new-breakpoint(min-width $w-full+1px 12);