
@mixin x-rgba ($property, $r, $g, $b, $a) {
    #{$property}: rgb($r, $g, $b);
    #{$property}: rgba($r, $g, $b, $a);
}

@mixin x-rgba-l ($property, $list) {
    $r: nth($list, 1);
    $g: nth($list, 2);
    $b: nth($list, 3);
    $a: nth($list, 4);
    #{$property}: rgb($r, $g, $b);
    #{$property}: rgba($r, $g, $b, $a);
}

@function strip-unit ($num) {
    @return $num / ($num * 0 + 1);
}

@mixin x-rem ($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value*16*$base-font-size}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}