
body {
      background: #eeac9d;
	  }

h1 	{
	font-style: italic;
	color:#f46b6b; font-family:Helvetica; 
	font-size:200%
	}
	
img	{
	width: 30%
	}

div {
	font-size: small;
	color:#f46b6b;
	}	

header {
	color:#8a2828;
}

li {
	list-style-type: hebrew
	}
	
